body {
  margin: 0;
  padding: 0;
  background-color: #2c2c2c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e0e0e0;
}

body::-webkit-scrollbar {
  display: none;
}

.sob {
  background-color: rgb(50, 79, 79);
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.sob a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 10px;
}

.sob a:hover {
  text-decoration: underline;
}

.sob p {
  margin: 0;
}

#about {
  margin-top: 5px;
  background-color: #d72638;
  border-radius: 5px;
  padding: 10px;
}

#abouta {
  font-weight: bold;
  color: white;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}

#nav {
  background-color: #89afb5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

#nav a {
  color: #4f555b;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
}

#nav a:hover {
  color: #d72638;
}

#logo {
  width: 50px;
  height: 50px;
}

#wide {
  width: 100%;
  height: 30em;
}

#fs {
  margin: 10px;
}

#whats {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
}

#tabela {
  text-align: center;
  border: 1px solid red;
  border-radius: 10px;
  margin: 10px auto;
  width: 90%;
}

#tabela,
#tabela * {
  border: 1px solid red;
  border-collapse: collapse;
}

#tabela td,
th {
  padding: 5px;
}

#form {
  padding: 10px;
}

#formdiv h1 {
  margin-left: 0px;
  padding-left: 20px;
}

@media (max-width: 768px) {
  #upsob {
    display: none;
    visibility: hidden;
  }

  #nav {
    flex-direction: column;
  }

  #logo {
    width: 40px;
    height: 40px;
  }

  #whats {
    width: 40px;
    height: 40px;
  }

  #tabela {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .sob {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .sob a{
    padding: 5px;
  }
  #upsob {
    display: none;
    visibility: hidden;
  }

  #nav {
    flex-direction: column;
  }

  #logo {
    width: 30px;
    height: 30px;
  }

  #whats {
    width: 30px;
    height: 30px;
  }

  #tabela {
    width: 100%;
  }
}
